h1 {
	text-decoration: underline;
	font-size: 26px;
	margin: 30px auto 25px; 
	color: black;
}

#calendar {
	background: url(../images/calendar.jpg) no-repeat;
	background-size: cover;
}

#note {
	background: url(../images/note.jpg) no-repeat;
	background-size: cover;
}

.my-calendar-footer, .mc-format, .mc_details, .mc_edit_links,
.my-calendar-month {
	display: none !important;
}

.my-calendar-date-switcher .button {
	height: 26px;
	position: relative;
	top: -1px;
}

.longdesc {
	text-align: justify;
}

.event-title > a {
	font: 12px 'Fira Sans', sans-serif;
}

/* Стилизуем форму */
.note_block {
	background: url(../images/form.png) no-repeat;
	margin-top: 20px;
	display: block;
	height: 530px;
	position: relative;
	left: -15px;
	color: black;
	padding-left: 15px;
} 

.note_block p {
	font: 14px 'Fira Sans', sans-serif !important;
	font-weight: 300;
}

.mc-image {
	float: left;
	margin-right: 5px !important;
}

/* Медиа-запросы */
@media (min-width: 1301px) and (max-width: 1900px) {
	h1 {
		text-decoration: underline;
		font-size: 20px;
		margin: 15px auto 10px; 
	}

	#calendar {
		background: url(../images1366/calendar.jpg) no-repeat;
		background-size: cover;
	}

	#note {
		background: url(../images1366/note.jpg) no-repeat;
		background-size: cover;
	}

	.note_block {
		margin-top: 5px;
	} 

	td.no-events {
		height: 5em !important;
	}

	.mc-main .details {
		padding: 10px; 
	}

	.event-title > a {
		font: 10px 'Fira Sans', sans-serif;
	}

} /*End (max-width: 1301px) and (max-width: 1900px) */