/*---------------*/
/***** RESET *****/
/*---------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*---------------*/
/***** MAIN *****/
/*---------------*/

html {
	height: 100%;
	background-color: #333;
}

body {
	height: 100%;
	width: 100%;
	color: white;
}

h1 {
	font: 30px 'Fira Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	margin: 10px 0 10px 0;
}

h2 {
	font: 30px 'Fira Sans', sans-serif;
	font-weight: 400;
}

p {
	font: 20px 'Fira Sans', sans-serif;
	font-weight: 300;
}

hr {	
    border: none;
    color: white;
    background-color: white;
    height: 1px; 
    z-index: 9999;
    position: relative;
    top: 180px;
}

.logo {
	height: 129px;
	width: auto;
}

/* Контент */
.content {
	padding: 20px;
}

.content p {
	text-align: justify;
}

.content h1 {
	text-decoration: underline;
}

.content img:nth-of-type(odd) {
	margin: 10px 10px 10px 0;
	float: left;
}

.content img:nth-of-type(even) {
	margin: 10px 10px 0 10px;
	float: right;
}

.content p:nth-of-type(even) {
	margin-bottom: 20px;
}

/* Скроем содержимое при просмотре с мобильных */
.mobile {
	z-index: 9998;
	background: black;
	height: 100%;
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mobile p {
	font-family: 'Roboto';
	font-size: 30px;
	text-align: center;
}

/* Классы анимации */
.AnimationLeft {
	animation: animleft linear 2s;	
	position: relative;
}

@keyframes animleft {
	0% {
		right: 50px;
		opacity: 0;	
	}
	100% {
		right: 0px;
		opacity: 1;	
	}
}

.AnimationRight {
	animation: animright linear 2s;	
	position: relative;
}

@keyframes animright {
	0% {
		left: 50px;
		opacity: 0;	
	}
	100% {
		left: 0px;
		opacity: 1;	
	}
}

.AnimationTop {
	animation: animtop linear 2s;	
	position: relative;
}

@keyframes animtop {
	0% {
		bottom: 50px;
		opacity: 0;	
	}
	100% {
		bottom: 0px;
		opacity: 1;	
	}
}

.AnimationDown {
	animation: animdown linear 2s;	
	position: relative;
}

@keyframes animdown {
	0% {
		top: 50px;
		opacity: 0;	
	}
	100% {
		top: 0px;
		opacity: 1;	
	}
}

/* Стилизуем главное меню */
#topmenu {
	text-align: left;
}

#topmenu > li > a {
	font: 25px 'Arimo', sans-serif;
	color: white;
	display: block;
	padding: 50px 30px;
	height: 100%;
	width: 100%;
}

#topmenu > li:hover, .top-active {
	background-color:rgba(255,255,255,0.6);
}

#topmenu > li > a:hover, .top-active > a {
	text-decoration: none !important;
	color: black !important;
}

/* Стилизуем текст контента */
.text_light {
	font: 20px 'Fira Sans', sans-serif;
	font-weight: 300;
}

.text_regular {
	font: 30px 'Fira Sans', sans-serif;
	font-weight: 400;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/* Стилизуем кнопку */
.button, .button:hover {
	background-color:rgba(255,255,255,0.6);
	color: black;
	text-decoration: none;
	cursor: pointer;
	padding: 15px 85px;
	font: 30px 'Fira Sans', sans-serif;
	font-weight: 400;
	text-align: center;
}

/* Стилизуем содержимое header */
header {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 40px;
}

.header_text {
	margin-top: 180px;
	text-align: justify;
}

.header_text h1 {
	text-align: center;
	margin-bottom: 30px;
	font: 30px 'Fira Sans', sans-serif;
	font-weight: 400;
}

.header_text p {
	font: 20px 'Fira Sans', sans-serif;
	font-weight: 300;
}

.header_text-first {
	margin-bottom: 180px;
}

/* Стилизуем содержимое 2 секции - services */
#services {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/services.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.services_button {
	margin: 50px auto 0;
}

.services_text {
	margin-top: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.services_text-first {
	margin-bottom: 200px;
}

/* Стилизуем содержимое 3 секции - entry */
#entry {
	background: url(../images/entry.jpg) no-repeat;
	background-size: cover;
}

.entry_text-left {
	text-align: left;
	margin-top: 200px;
}

.entry_text-right {
	text-align: right;
	margin-top: 560px;
}

.entry_text-right .text_regular {
	margin-bottom: 55px;
}

.entry_button {
	margin-top: 60px;
}

/* Стилизуем содержимое 4 секции - gallery */
#gallery {
	background: url(../images/gallery.jpg) no-repeat;
	background-size: cover;
}

.gallery_text-left {
	text-align: left;
	margin-top: 350px;
}

.gallery_text-right {
	text-align: right;
	margin-top: 420px;
}

.gallery_button {
	margin-top: 95px;
	display: inline-block;
}

.gallery_text-second {
	margin-top: 65px;
}

/* Стилизуем 5 секцию */
#about {
	background: url(../images/about.jpg) no-repeat;
	background-size: cover;
}

.about_text-left {
	margin-top: 350px;
	text-align: left;
}

.about_text-right {
	margin-top: 350px;
	text-align: right;
}

.about_text-second {
	margin-top: 60px;
	margin-bottom: 90px;
}

/*Стилизуем футер*/
footer {
	background: #292728;
}

#ButtonUp {
	background: url(../images/btn_up.png) no-repeat;
	height: 50px;
	width: 455px;
	border: 0;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	margin-bottom: 95px;
	position: relative;
	top: 0px;
	color: black;
	text-align: center;
	padding-top: 8px;
}

#ButtonUp:hover {
	text-decoration: none;
}

.footer_img {
	display: block;
	margin: 0 auto;	
}

.footer_menu {
	margin: 95px 0 30px 0;
}

.footer_menu-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;	
}

.footer_menu-link, .footer_menu-link:hover {
	color: white;
	font: 25px 'Arimo', sans-serif;
}

.footer_submenu {
	margin-top: 80px;
}

.footer_submenu > li {
	margin-top: 20px;
	cursor: pointer;
}

.footer_submenu > li > a, .S6_submenu > li > a:hover {
	color: #BFBFBF;

}

.footer_copy {
	font: 15px 'Fira Sans', sans-serif;
	font-weight: 300;
}

/*----------------------*/
/***** Разработчики *****/
/*---------------------*/
.footer_design {
	margin-top: 20px;
	width: 230px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.footer_design > p {
	display: inline-block;
}

.footer_author > p {
	margin-top: 30px;
}

.blackred {
	height: 35px;
	width: auto !important;
}

.my-logo {
	height: 50px;
	width: auto !important;
}

.footer_author {
	margin-top: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.attention {
	color: red !important;
}

.modal {
	color: black;
}

.modal-footer {
	font: 12px 'Fira Sans', sans-serif;
	font-weight: 300;
}

/*-----------------*/
/***** CORRECT *****/
/*-----------------*/

/* Откорректируем фреймворк плавной прокрутки */
.fp-tableCell {
	display: block;
}

/* Стилизуем панель слайдера */
#pp-nav {
	margin-right: 60px;
}

#pp-nav a.active {
	position: relative;
	right: 5px;
}

#pp-nav a.active span {
	background: url(../images/active_button.png) no-repeat;
	border: 0;
	width: 26px !important;
    height: 26px !important;
    position: absolute;
    right: 2px;
    z-index: 1;
}

#pp-nav a {
	margin-top: 30px;
}

#pp-nav span, .pp-slidesNav span {
	background: url(../images/button.png) no-repeat;
	border: 0;
    width: 16px !important;
	height: 16px !important;
	position: absolute;
	z-index: 1;
}

.pp-tableCell {
    display: block !important;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

/* contact-form-7 */
#wpcf7-f398-o1 > form.wpcf7-form {
	margin-left: 100px !important;
	padding-top: 60px !important;
	font-family: 'Fira Sans', sans-serif !important;
}

.red {
	color: red !important;
	position: relative !important;
	left: 5px !important;
	top: 7px !important;
	font-size: 25px !important;
}

.red-2 {
	color: red !important;
	position: relative !important;
	right: 5px !important;
	top: 7px !important;
	font-size: 25px !important;
}

.sure {
	font-size: 14px !important;
	font-weight: 400 !important;
}

input.wpcf7-form-control { 
	border: 0 !important;
	border-bottom: 1px dashed black !important;
	outline:none !important;
	padding: 1px !important;
	margin-bottom: 2px !important;
}

label, .wpcf7-not-valid-tip, .normal {
	font: 14px 'Fira Sans', sans-serif !important;
	font-weight: 400 !important;
	margin-top: 1px !important;
}

input[type="submit"] {
	background: #39B54A;
	width: 250px;
	height: 40px;
	border: 0 !important;
	margin-top: 15px;
	color: white;
}

.wpcf7-mail-sent-ok {
	position: absolute !important;
	top: -46px !important;
	background: #39B54A;
	padding: 10px 30px !important;
	color: white;
	font-size: 20px;
	border: 0 !important;
}

.wpcf7-validation-errors, .wpcf7-spam-blocked {
	position: absolute !important;
	top: -46px !important;
	background: red;
	padding: 10px 30px !important;
	color: white;
	font-size: 20px;
	border: 0 !important;	
}

/* Чекбокс */
span.wpcf7-list-item {
	margin: 5px 0 0 0 !important;
}

/* Textarea */
.wpcf7-textarea {
	border: 1px dashed black !important;
	margin-top: 5px;
}

#wpcf7-f428-o1 > form.wpcf7-form, #wpcf7-f428-o2 > form.wpcf7-form {
	margin-left: 60px !important;
	padding-top: 10px !important;
	font-family: 'Fira Sans', sans-serif !important;
}

.wpcf7-submit {
	cursor: pointer;
}

#wpcf7-f428-o1 > form > .wpcf7-mail-sent-ok, #wpcf7-f428-o2 > form > .wpcf7-mail-sent-ok {
	position: absolute !important;
	top: -81px !important;
	left: 50px;
	background: #39B54A;
	padding: 10px 30px !important;
	color: white;
	font-size: 20px;
	border: 0 !important;
}

#wpcf7-f428-o1 > form > .wpcf7-validation-errors, #wpcf7-f428-o1 > form > .wpcf7-spam-blocked,
#wpcf7-f428-o2 > form > .wpcf7-validation-errors, #wpcf7-f428-o2 > form > .wpcf7-spam-blocked {
	position: absolute !important;
	top: -81px !important;
	left: 50px;
	background: red;
	padding: 10px 30px !important;
	color: white;
	font-size: 20px;
	border: 0 !important;	
}

/* Таблица */
#tablepress-1_wrapper {
	color: black;
	font: 16px 'Fira Sans', sans-serif;
	font-weight: 300;
}

#tablepress-1_length {
	color: white;
}

#tablepress-1 caption {
	display: none;
}

/* Уберем подстветку textarea */
textarea {
	outline: none;
}

/*---------------*/
/***** ABOUT *****/
/*---------------*/
#greeting {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#aboutMe {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/myself.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.greeting_block-left {
	margin-top: 20px;
	text-align: left;
}

.greeting_block-right {
	margin-top: 200px;
	text-align: justify;
}

.aboutMe_block {
	margin-top: 150px;
	text-align: justify;
}

.aboutMe_block-img {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.aboutMe_block-img img {
	width: 400px !important;
	height: 400px !important;
}

@media (min-width: 1301px) and (max-width: 1900px) {
	#greeting {
		background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images1366/header.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

	#aboutMe {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images1366/myself.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

	.aboutMe_block {
		margin-top: 100px;
		text-align: justify;
	}

	.aboutMe_block-img img {
		width: 300px !important;
		height: 300px !important;
	}
} /* End media */

.label_text {
	margin-top: 10px !important;
}