/* Страница политики приватности */
#private {
	background: #292728;
}

.content {
	text-align: justify;
}

.content p:nth-of-type(even) {
	margin-bottom: 0 !important;
}


.content h1 {
	font: 24px 'Fira Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	margin: 5px 0 5px 0;
	text-decoration: underline;
}

.content h2 {
	font: 20px 'Fira Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	margin: 5px 0 5px 0;
}

.content p {
	font: 16px 'Fira Sans', sans-serif;
	font-weight: 300;
}

.content a {
	color: orange !important;
}

.content a:hover {
	color: red !important;
}

/* Медиа-запросы */
@media (min-width: 1301px) and (max-width: 1900px) {

.content h1 {
	font: 18px 'Fira Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	margin: 5px 0 5px 0;
}

.content h2 {
	font: 16px 'Fira Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	margin: 5px 0 5px 0;
}

.content p {
	font: 10px 'Fira Sans', sans-serif;
	font-weight: 300;
}

} /*End (max-width: 1301px) and (max-width: 1900px) */